
header {
    position: fixed;
    width: 100%;
    text-align: center;
}

header {
	background:#58A4B0;
	perspective:150px;
    box-shadow: 0 5px 20px #465C69,
    inset 0 -2px 10px grey;
    top:0;
    color:#D8DBE2;
}
header h1:hover {transform:rotateX(45deg);
	color:#AFB3F7;
	transition-duration: 1s;
	box-shadow: 0 5px 20px #AFB3F7,
		inset 0 -2px 10px grey;
}

.divClassOne{
    height: 130px;
}

body {
    background: D8DBE2;
    margin: 0;
}
h1 {
    font-family:"VT323";
    font-size: 48px;
}

div {
    margin-top: 20px
}

.divLunch {
    margin-top: 130px
}

.divLunch2 {
    margin-top: 75px
}

img {
    max-width: 100%;
}


blockquote p {
    font-weight:bold;
    font-style:italic
}

a{
    text-decoration:none
}

.navLists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 0;
}

main{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    flex-direction: column;

}

nav{
    width: 100%;
    position: fixed;
    background: #A9BCD0;
    color: black;
}

.newsHeadline{
    font-size: 48px;
    display: flex;
    justify-content: center;
}

header a:visited{
    color:#D8DBE2
}

img{
    width: 500px;
}

main a{
    font-size: 30px;
}

.sportsMain{
    display:flex;
    flex-direction: row;
}

section div{
    height: 100px;

}