body {
	height:100vh;
}

div div {
    position: fixed;
	width:100px;
	height:100px;
	background: #465C69;
	border-radius:50%;
    top: 15px;
    left: 30px;
}

nav {
    position: fixed;
	border-bottom:solid;
	background:#333;
    top:0px
}

nav > div {
	height:120px;
}

nav {
	width:100%;
}

ul {
    position: relative;
	border-right: solid;
	width: 100px;
	height: 100%;
	padding: 10px 0;
	margin-top: 120px;
    z-index: -1;
}

ul li:hover {
	color: #465C69;
}

img {
    position:absolute;
	width:500px;
    top: 300px;
    left: 200px
}

h1 {
    position:fixed;
    right:30px;
    top:70px
}